.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    max-width: 500px;
}

.card img {
    max-width: 100%;
    height: auto;
}