<!doctype html>
<html lang="en">
  <head>
  	<title>Practica semana 7</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/trabajo.css">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="index.html" class="logo">Trabajos</a></h1>
        <ul class="list-unstyled components mb-5">

          <li class="active">
            <a href="../index.html"><span class="fa fa-home mr-3"></span> Inicio</a>
          </li>
          <li>
              <a href="trabajos.html"><span class="fa fa-sticky-note mr-3"></span> Trabajos</a>
          </li>
          <li>
            <a href="proyectos.html"><span class="fa fa-sticky-note mr-3"></span> Proyectos</a>
          </li>
          <li>
            <a href="servicios.html"><span class="fa fa-sticky-note mr-3"></span> Servicios</a>
          </li>
          <li>
            <a href="contacto.html"><span class="fa fa-paper-plane mr-3"></span> Contactos</a>
          </li>
        </ul>
    	</nav>

      <!-- Page Content  -->
      <div  class="p-4 p-md-5 pt-5">
        <h2>Nuestros Trabajos</h2>
        
        <div class="card-container">
          <div class="card">
              <img src="../img/trabajo1.jpg" alt="Imagen de la tarjeta 1">
              <h2>Microsoft Azure Storage</h2>
              <p>Microsoft Azure ofrece una gran variedad de soluciones storage para el almacenamiento seguro, escalable y con alto rendimiento. Su ecosistema cloud promueve distintos tipos de almacenamiento para diferentes formatos de archivo y estructuras de almacenaje, permitiendo el uso del sistema operativo, lenguaje y herramientas de código abierto que las empresas prefieran.</p>
          </div>
  
          <div class="card">
              <img src="../img/trabajo2.jpg" alt="Imagen de la tarjeta 2">
              <h2>AWS storage</h2>
              <p>Amazon Web Services ofrece una gran cantidad de servicios en la nube online. Sus múltiples propuestas engloban todo lo relacionado con el almacenamiento mediante cloud computing, mediante AWS es posible la creación de nubes aisladas o privadas, almacenamiento y recuperación de datos, bases de datos (Microsoft SQL Server, PostgreSQL, MySQL, MariaDB y Amazon Aurora), almacenamiento low-cost, entre otros.</p>
          </div>
  
          <div class="card">
              <img src="../img/trabajo3.jpg" alt="Imagen de la tarjeta 3">
              <h2>Google Cloud Storage</h2>
              <p>Google Cloud Storage para el almacenamiento empresarial en la nube online es un sistema que implementa una única API capaz de integrar los distintos tipos de almacenamiento de Google. Con ello, se garantiza la durabilidad, escalabilidad y rendimiento de la información subida a la nube.</p>
          </div>
      </div>
        
      </div>
		</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>